{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AccountNumberPrefix": "042", // Used to generate system account for every user. This signifies the first 3 digits of 10
  "Art": {
    "MinimumAmount": 540, // Minimum amount (sats) that can be pegged as art value
    "MaximumAmount": 100000 // Maximum amount (sats) that can be pegged as art value
  },
  "ConnectionStrings": {
    "DefaultConnection": "server=(localdb)\\MSSQLLocalDB; database=apesatsdb; trusted_connection=true"
  },
  "cloudinary": {
    "cloudname": "", 
    "key": "",
    "secret": ""
  },
  "Lightning": {
    "URL": "", // LND URL
    "UserMacaroonPath": "", // Macaroon file location
    "UserSslCertPath": "", // SSL cert file location
    "UserRpcHost": "", // GRPC host url
  },
  "TokenConstants": {
    "ExpiryInMinutes": 1440, // Token expiration
    "key": "" // Token key
  }
}




// Endpoints
/// Account
- /api/Account/topupaccount {POST}
- /api/Account/withdrawsatoshis {POST}
- /api/Account/getallaccounts/{skip}/{take}/{userid} {GET}
- /api/Account/getbyuserid/{userid} {GET}

/// Art
- /api/Art/uploadart {POST}
- /api/Art/updateart {POST}
- /api/Art/publishart {POST}
- /api/Art/bidforart {POST}
- /api/Art/generateinvoiceforart {POST}
- /api/Art/getallarts/{skip}/{take}/{userid} {GET}
- /api/Art/getdrapfsarts/{skip}/{take}/{userid} {GET}
- /api/Art/getartsbyuser/{userid} {GET}
- /api/Art/getpublishedarts/{skip}/{take}/{userid} {GET}
- /api/Art/getbyid/{id}/{userid} {GET}

/// Transaction
- /api/Transaction/getalldebit/{skip}/{take}/{userid} {GET}
- /api/Transaction/getallcredit/{skip}/{take}/{userid} {GET}
- /api/Transaction/getbyid/{id}/{userid} {GET}


/// User
- /api/User/create {POST}
- /api/User/login {POST}
- /api/User/getall/{skip}/{take}/{userid} {GET}
- /api/User/getusersbyid/{userid} {GET}






